$hiviz: #ffca55;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
  font-family: "Frutiger W01", arial !important;
  .site-header {
    &__brand {
      width:450px;
      float:left;
    }
    &__controls {
      width:300px;
      float:right;
    }
  }
  .viewToggle {
    padding-left:30px;
  }
  .device{
    &--mobile {
      display:none;
    }
  }
}

.notification-banner__js-hidden {
  display:none;
}
.notification-banner__hiviz {
  background-color: $hiviz;
}

form {
  .form-label-bold {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
  }
  .form-control {
    margin-top: 32px;
    border: 2px solid #000;
    font-size: 24px;
    line-height: 32px;
    width:308px;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: none;
    padding: 4px;
    font-size: 24px;
    line-height: 32px;
  }
}
a.link-back {
  border-bottom: 1px solid #0b0c0c;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-top:16px;
  margin-bottom: 32px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000000;
  }
}

.nhsuk-o-grid .grid-row .results {
  list-style: none;
  margin: 0;
  padding: 0 16px;
}
.nhsuk-o-grid .results__item {
  list-style: none;
}
.nhsuk-o-grid .grid-row .results__details {
  padding: 0 32px 32px 32px;
  position: relative;
  margin-top:32px;
}
.nhsuk-o-grid .grid-row .results__details .callout {
  margin-top:32px;
}

.geo-locate,
.geo-locate--denied {
  display:none;
}
