// Core
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

.notification-banner {
	background-color: #fdf2d5;
}

.nhsuk-hint {
	color: inherit;
}

.nhsuk-list .nhsuk-icon {
	margin-bottom: -10px;
}
