@import "nhsuk";

$grey: #E8EDEE;
$border-grey: #BAC4C8;


body {
  background-color:$grey;
  header {
    background-color: $white;
  }
  .page-section {
    padding: 32px 0 48px 0;
    p, ul{
      margin-top: 16px;
    }
  }
  .breadcrumb {
    background-color: $white;
  }
  .local-header--title--question {
    &.local-header--title__step {
      margin-top: 10px;
      padding-top: 0;
    }
  }
  p {
    &.local-header--step {
      display: block;
      font-size: 18px;
      font-weight: 400;
      margin-top: 0;
    }
  }
  .details--country {
    background-color: $white;
    padding: 32px;
    h2, 
    .details__summary--country {
      font-size: 28px;
      margin-top: 0;
      padding-top: 0;
      font-weight: 600;
      line-height: 32px;
    }
    .details__content {
      .details__opening-times,
      .details__call-charges {
        display: block;
        margin-top: 0;
        padding-top: 0;
      }
      .details__call-charges {
        font-size: 16px;
      }
      .button {
        width: 80%;
        @include media(tablet) {
          width: auto;
        }
      }
    }
    &.details--country--england {
      .details__content {
        margin-top: 16px;
      }
    }
  }
  details {
    summary {
      padding-top: 0;
    }
  }
  .recommend__tick {
    display: inline-block;
    margin-left: 15px;
      &:before {
        content: '';
        display: inline-block;
        height: 32px;
        width: 17px;
        border: solid $green;
        border-width: 0 8px 8px 0;
        transform: rotate(45deg);
        margin-right: 20px;
      }
  }
  .recommend__cross {
    display: inline-block;
    margin: 0 5px 0 15px;
    width: 32px;
    height: 32px;
    &:before, &:after {
      content: '';
      position: absolute;
      height: 33px;
      width: 8px;
      background-color: $red;
      margin-top: 8px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .multiple-choice--description {
    padding: 0 32px 32px 32px;
    border: 3px solid $grey-3;
    margin: 0 0 20px 0;
    &:first-of-type {
      margin: 32px 0 20px 0;
    }
    &:last-of-type {
      margin: 0;
    }
    label {
      span {
        &.multiple--choice-option {
          margin-top: 0;
          font-weight: 600;
        }
        &.multiple--choice-option-description {
          font-weight: 400;
        }
      }
    }
    &.multiple-choice--selected {
      background-color: $white;
    }
  }
}

.sr-only,
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.reading-width {
  @include reading-width;
}

.local-header,
.notification-banner {
  &--question,
  > * {
    max-width:960px;
    margin: 0 16px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 24px;
    @include media(tablet) {
      margin: 0 16px;
    }
    @include media(desktop) {
      margin: 0 32px;
    }
    @media (min-width: 1024px){
      margin: 0 auto;
    }
  }
  &__js-hidden {
    display:none;
  }
  &__hiviz {
    background-color: $yellow-50;
  }
}
.global-header {
  &--inner {
    padding-bottom: 16px;
    padding-top: 16px;
    @include media(tablet) {
      padding-bottom: 24px;
      padding-top: 24px;
    }
  }
  &--link {
    background: url(../images/logotype-nhs-colour__reverse.png) no-repeat;
    background-size: contain;
    display: block;
    height: 32px;
    text-indent: -999em;
    width: 79px;
  }
}
.global-footer {
  &--inner {
    padding-bottom: 96px;
    padding-top: 32px;
    &::before {
      background: url(../images/logotype-nhs-colour.png) no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 32px;
      margin-bottom: 32px;
      text-indent: -999em;
      width: 79px;
      @include media(desktop) {
        margin-bottom: 48px;
      }
    }
    @include media(desktop) {
      padding-bottom: 128px;
      padding-top: 48px;
    }
  }
}

/*
   Skip Links
*/
.skiplinks {
  background-color: $white;
  ul {
    padding-top: 0;
    li {
      &.skip-link {
      list-style-type: none;
      display: inline;
        a {
          position: absolute;
          left: -999%;
          top: 0;
          overflow: hidden;
          color: #d32620;
          padding: .3em;
          font-size: 1em;
          height: 0;
          &:active, &:focus {
            z-index: 1000;
            left: 0;
            top: 0;
            width: auto;
            height: auto;
            position: absolute;
            color: #fff;
            background: $nhs-blue;
            padding: .5em 2em .8em 2em;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/*
   Form elements
*/
form {
  .form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    width: 100%;
    padding: 4px;
    background-color: $white;
    border: 2px solid #000;
    @include media(tablet) {
      font-size: 24px;
      line-height: 32px;
      width: 50%;
    }
    @include media(desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .form-label-bold {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
  }
  .form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  label {
    span {
      display: block;
      margin-top: 25px;
    }
  }
}
/*
  Results page
*/

.page-section{
  .grid-row {
    margin: 0 -16px;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    @include media(desktop) {
      > * {
        margin-top: 0;
      }
    }
    .column--two-thirds {
      display:block;
      padding:0 16px;
      @include media(tablet) {
        float: left;
        width: 66.6667%;
      }
    }
    .results {
      list-style: none;
      margin:0;
      padding:0 16px;
      li {
        padding: 0;
        border: none;
        border-top: 2px solid $border-grey;
        &.results__item {
          background-color: $white;
          padding: 32px;
          margin-top: 35px;
          &:first-of-type {
            margin-top: 25px;
          }
        }
      }
      details {
        margin-top: 16px;
      }
      .results__details {
        p {
          &.results__address-distance {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
      &__item {
        margin-top:8px;
        p {
          padding:0;
        }
        &__link {
          margin-top:8px;
        }
        &:first-child {
          margin-top: 0;
        }
        &:after {
          clear: both;
          content: "";
          display: block;
        }
      }
      &__header {
        font-size: 32px;
        line-height:40px;
        padding:0 8px;
        margin:0;
        @include media(tablet) {
          line-height: 48px;
          padding:0;
          &--none {
            padding:0;
          }
        }
      }
      &__details {
        position: relative;
        .callout {
          display:block;
        }
      }
      &__name {
        margin-top:8px;
      }
      &-block {
        &--none {
          background-color: $blue;
          color: $white;
          margin-bottom: 32px;
          padding: 16px;
          @include media(desktop) {
            margin-bottom: 48px;
          }
          .results__header {
            padding: 8px 8px 12px 8px;
            @include media(desktop) {
              padding: 8px 16px 0 16px;
            }
          }
          .results__none-content {
            background: $white;
            color: #000;
            padding: 16px;
            @include media(desktop) {
              padding: 32px;
            }
            p {
              padding:0;
            }
          }
        }
      }
      .openingTimes {
        margin: 32px 0 8px;
        @include media(tablet) {
          width: 50%;
        }
        tr {
          padding: 15px 0;
          &:first-child {
            display:none;
          }
          &:nth-child(2){
            th,td {
              padding-top:0px;
            }
          }
          td, th {
            font-size:20px;
            line-height: 20px;
            padding: 15px 0;
            font-weight: 400;
            border: 0;
          }
          td {
            text-align: right;
            &:last-child {
              text-align: left;
            }
          }
        }
        .hasSessions{
          td {
            padding-top:0px;
          }
        }
        + p {
          font-size: 16px;
          color:$grey-1;
        }
        &__openResults {
          font-size:16px;
        }
      }
    }
    + .callout--muted {
      margin: 46px 0 10px;
      @include media(desktop) {
        margin-top:46px 32px 0;
      }
    }
  }
  .places {
    > h1 {
      @include bold-font(36);
      margin: 32px 0 0;
    }
    > ol {
      padding:0;
      list-style: none;
    }
    > ol,
      p {
      margin:20px 0;
    }
  }
  .callout {
    &--muted {
      margin:0 32px;
    }
  }
}

/*
  Links
*/
.link-back {
  border-bottom: 1px solid #0b0c0c;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-top:16px;
  margin-bottom: 32px;
  padding-left: 14px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  @include media(desktop) {
    margin-top:0;
  }
  &::before {
    border-bottom: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
  }
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000000;
  }
}

/*
   Error styling
*/

.error {
  margin-right: 15px;
  border-left: 4px solid $red;
  padding-left: 10px;
  > .form-control {
    border: 4px solid $red;
  }
  @include media(tablet) {
    border-left: 5px solid $red;
    padding-left: 15px;
  }
  * + * {
    margin-top: 0;
  }
  .multiple-choice:not(:first-child) {
    margin-top: 32px;
  }
  .multiple-choice--description {
    padding-top: 32px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.error-summary {
  border: 4px solid #338ed1;
  margin-bottom: 45px;
  padding: 15px 10px;
  background-color: $white;
  @include media(tablet) {
    border: 5px solid #338ed1;
    margin: 45px 0;
    padding: 20px 15px 15px;
  }
  &:focus {
    outline: 3px solid #ffbf47;
  }
  &-heading {
    margin-top: 0;
  }
  &-list {
    color: #000;
    list-style-type:none;
    margin-top:0;
    padding:0;
    li {
      @include media(tablet) {
        margin-bottom: 5px;
      }
    }
    a {
      color: $red;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 10px;
  }
  h2 {
    padding:0;
  }
}

.results-block {
    background-color: $blue;
    color: $white;
    margin-bottom: 32px;
    padding: 16px;
}

/* global header */

@include media(desktop) {
  .main-nav {
    &__page-menu {
      .nodrop {
        &:hover, &:focus-within {
          background-color: inherit;
          color: inherit;
          text-decoration: underline;
        }
      }
      li:hover, li:focus-within {
        background-color: $white;
        color: $blue;
        ul {
          display: block;
        }
        a {
          background-color: inherit;
          position: relative;
          z-index: 200;
        }
      }
    }
  }
}
