version: '2'

services:

  shsf-frontend:
    image: "nhsuk/sexual-health-service-finder:${DOCKER_IMAGE_TAG}"
    environment:
      ADOBE_TRACKING_URL: ${ADOBE_TRACKING_URL}
      GOOGLE_ANALYTICS_TRACKING_ID: ${GOOGLE_ANALYTICS_TRACKING_ID}
      HOTJAR_ANALYTICS_TRACKING_ID: ${HOTJAR_ANALYTICS_TRACKING_ID}
      NODE_ENV: production
      SEARCH_API_HOST: ${SEARCH_API_HOST}
      SEARCH_API_KEY: ${SEARCH_API_KEY}
      SEARCH_API_VERSION: ${SEARCH_API_VERSION}
      WEBTRENDS_ANALYTICS_TRACKING_ID: ${WEBTRENDS_ANALYTICS_TRACKING_ID}
    labels:
      io.rancher.container.pull_image: always
      prometheus.monitoring: true
      prometheus.port: 3000
      traefik.backend: ${RANCHER_STACK_NAME}
      traefik.enable: true
      traefik.frontend.auth.basic: ${BASIC_AUTH}
      traefik.frontend.rule: "Host: ${RANCHER_STACK_NAME}.dev.beta.nhschoices.net"
      traefik.port: 3000
    logging:
      driver: splunk
      options:
        splunk-format: json
        splunk-insecureskipverify: "true"
        splunk-source: sexual-health-service-finder
        splunk-sourcetype: docker
        splunk-token: ${SPLUNK_HEC_TOKEN}
        splunk-url: ${SPLUNK_HEC_URL}
        splunk-verify-connection: "false"
        tag: "{{`{{.ImageName}} {{.Name}} {{.FullID}}`}}"
