@import "../settings/colours-beta.scss";

html {
  background-color: $nhsuk-blue;
}

.clearfix {
    @include clearfix;
}

.article div.clearfix {
    // Fix for _very_ generic css library (beta frontend) rules
    margin-top: 0px;
    margin-bottom: 0px;
}
