
/*
  Adapt the styles that are found in the frontend-library
*/

.local-header {

    padding-top: 10px;

    ol {
        margin-top: 50px;
    }

    ol li.active span {
        font-weight: 600;
        text-decoration: none;
    }

    @include media(tablet) {
      ol.twocolumns {
          display: block;
          -moz-column-count: 2;
          -moz-column-gap: 80px;
          -webkit-column-count: 2;
          -webkit-column-gap: 80px;
          column-count: 2;
          column-gap: 80px;
      }
    }

    @include media(tablet) {
      overflow: auto;
      height: auto !important;
    }
}

.local-header--nomargin {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.local-header__title {
    font-size: 40px;
    line-height: 48px;

    @include media(desktop) {
        font-size: 48px;
        line-height: 64px;
    }
}

.local-header--plain {
  padding: 0px;
  font-size: 20px;
  margin: 0 0 56px 0;
  background-color: transparent;
  color: $black;

  .local-header__title {
    font-size: 40px;
    line-height: 48px;
    color: $black;

    @include media(desktop) {
      font-size: 48px;
      line-height: 64px;
    }
  }

  .local-header__subtitle {
    font-size: 20px;
    margin-top: 0px;
  }
}
