
.callout {
  @include element-padding;

  &:focus {
    outline: 3px solid $focus-colour;
  }

  // Standard callout style
  background-color: $yellow-10;
  border: solid $yellow-50;
  border-width: $baseline-grid-unit 0;

  &--information {
    background-color: $grey-5;
    border: solid $grey-2;
    border-width: 0 0 0 $baseline-grid-unit;
  }

  &--find-a-service {
    @extend .callout--information;
    display: inline-block;

    @include media(desktop) {
      padding: $baseline-grid-unit * 4 $baseline-grid-unit * 6;
    }
  }

  &--primary-care {
    background-color: transparent;
    border: $baseline-grid-unit * 2 solid $bright-blue;
  }

  &--urgent {
    background-color: $red-10;
    border: none;
    border-top: $baseline-grid-unit * 2 solid $red;
  }

  &--emergency {
    background-color: $red;
    border: none;
    color: $white;

    a {
      @include link-reverse-polarity;
    }
  }

  &--error {
    border: $baseline-grid-unit solid $red;
    background-color: transparent;
  }

  &--muted {
    background-color: $grey-4;
    border: none;
  }
}
