.image-figure {

  // If an image-figure appears after a portrait image that's float:left,
  // we need to clear it
  clear: both;

  &__img-container {
    position: relative;


    .image-figure--has-caption & {
      border: 4px solid $blue-10;
    }
  }

  img {
    width: 100%;
  }

  &__credit {
    // Do not display a credit (for now)
    display: none;

    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0.5em;
    color: $white;
    background-color: rgba(35, 31, 32, 0.6);
    > p {
      display: inline;
      font-size: inherit;
    }
    a, a:visited, a:link, a:hover {
      color: $white;
    }
  }

  &__caption {
    // Our captions inherit from the frontend-library `media` captions
    @extend .media__caption;
  }

  // Portrait images should display at 50% the width of landscape counterparts
  // when displayed on larger devices than mobile
  &--portrait {
    /* The frontend-library is too general for us. Override some margin-tops here */
    @include media(tablet) {
      margin-top: 16px;
    }
    @include media(desktop) {
      margin-top: 32px;
    }

    // Everything tablet and above should display 50% width floated images
    @include media(tablet) {
      width: 50%;
      padding-right: 16px;
      margin-bottom: 16px;
      float: left;
      clear: none;

      // If two elements are adjacent, give the second one some left padding instead
      & + & {
        padding-left: 16px;
        padding-right: 0em;
      }
    }
  }

}
