.pullquote {
    padding: 20px;
    background-color: $white;

    &__heading::before {
        content: '“';
        font-size: 100px;
        color: $blue;
    }

    &__attribution::before {
        content: '--- ';
        color: $black;
    }
}
