
.treatment-card {
    border: 2px solid #005EB8;

    &__title{
       padding: 24px;
       font-size: 24px;
       background-color: #e6f0fc;
    }

    &__subtitle{
        padding: 24px;
        color: #768692;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #e6f0fc;
        margin: 0;
    }

    &__content {
        padding: 24px;
        margin: 0;
    }

}
