.template-conditions-page, .template-guides-page, .template-livewell-page {

  .treatment-table {

    &__content {
        margin: 0;
    }

    &__row {
        margin: 0;
        padding-top: 24px;
        border-bottom: #d6dce0 1px solid;
    }

    &__title {
        //height: 25px;
        font-weight: bold;
        font-size: 20px;
        border-bottom: #d6dce0 2px solid;
        padding-bottom: 10px;
        cursor: pointer;
    }

    &__row-title {
        height: 18px;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        color: #005eb8;
    }

    &__medical-name {
        font-weight: bold;
        color: #768692;
    }

    &__row-left {
        margin: 0;
        float:left;
        width: 70%;
    }

    &__row-right{
        margin: 0;
        float:right;
        width: 30%;
        text-align: right;
    }

    &__row-content {
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__content-inner {
      * {
        font-size: 16px;
        @include media(tablet) {
          font-size: 16px;
        }
      }
      p {
        font-size: 16px;
        @include media(tablet) {
          font-size: 16px;
        }
      }
    }

    .expand-arrow {
        padding-right: 14px;
    }
  }
}
