
.review-dates {
  /*
   * Apply to children of .review-dates in order to overcome the generic <p>
   * styling in the frontend-library.
   */
  margin-top: 64px;
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 32px 0 0;
  }
  @media (min-width: 40.0625em) {
    p {
    font-size: 16px;
    line-height: 28px;
    margin: 32px 0 0;
    }
  }

  &:before {
    content: "";
    border-top: 4px solid #41b6e6;
    display: block;
    width: 25%;
  }
}
