
.sidebar-navigation {
  padding: 0px;
  > * {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__dropdown-link {
    font-size: 20px;
  }

  hr {
    display: block;
    width: auto;
    margin-top: 5px;
    border: none;
    background-color: #333;
  }

  &__dropdown-link:after {
    content: '\25BC';
    display: inline-block;
    text-decoration: none;
    padding-left: 0.5em;
    font-size: 0.7em;
  }

  &__list {
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 16px;
    > ul, > ol {
      list-style-type: disc;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      list-style: disc;
      margin-left: 18px;
      padding-left: 0px;

      >li > a {
        text-decoration: underline;
        @include media(tablet) {
          text-decoration: none;
          &.selected {
            color: #4C92D9 !important;
            text-decoration: underline;
          }
        }
        &:visited {
          color: #005eb8;
        }
      }
    }
  }

  @include media(tablet) {
    h3  {
      margin-top: 2em;
    }
  }

  @include media(desktop) {
    &__dropdown-link {
      display: none;
    }
    h3 {
      display: block;
      margin-top: 0;
    }

    &__list {
      background-color: transparent;
      padding-top: 0px;
    }
    li {
      padding-bottom: 10px;
    }
  }

  li {
    font-size: 20px;
    line-height: 24px;
  }

  &--hidden {
    .sidebar-navigation {
      &__list {
        display: none;
        @include media(desktop){
          display: block;
        }
      }
      &__dropdown-link:after {
        content: '\2219';
      }
    }
  }


  /*
   * listings can stick to top on desktop
   */
  &--sticky {
    @include media(desktop) {
      position: -webkit-sticky; //support for safari
      position: sticky;
      top: 0px;
    }
  }
}

@include media(desktop) {
  div.grid-row > div.sidebar-navigation > div:not(column--two-thirds) {
    margin-top: 30px;
  }
}
