
// Master layout variables
$max-width: 960px;
$min-gutter: 15px;

// Common breakpoints
$breakpoint-desktop: screen and (min-width: $max-width + ($min-gutter * 2));
$breakpoint-tablet: screen and (min-width: 480px);

@mixin desktop-max-width() {
    margin-left: $min-gutter;
    margin-right: $min-gutter;

    @media #{$breakpoint-desktop} {
        width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }
}
