/*
 * Convert pixel font sizes into `rem`s to respect browser font-size configs
 * $font-size in pixels
 * $line-height in pixels
 */
@mixin font-size($font-size, $line-height:null) {
    // use pixel fallback for <IE8 that doesn't support rem
    font-size: $font-size * 1px;
    font-size: $font-size / 16 * 1rem;
    @if $line-height {
        line-height: $line-height / $font-size;
    }
}
